/* 메인페이지 스타일 */
.main{
  position: relative;
}

/* 배너 이미지 */
.mainbanner{
  width: 100%;
  height: 100vh;
  background-image: url("../assets/banner1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.mainbanner .inner {

}

/* 슬로건 영역 */
.slogan {
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.slogan .inner{
  height: 100%;
}
.slogan .inner .contant{
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 40px 0;
}
.slogan .inner .contant > p{
  font-size: 62px;
  font-weight: 500;
  color: #0959A9;
  font-family: 'Noto Serif KR', serif;
  margin-bottom: 42px;
}
.downpoint{
  position: absolute;
  bottom: 30px;
  right: 50%;
}
.icon.down{
  font-size: 30px;
  color: #0959A9;
  cursor: pointer;
}

/* 챕터1 영역 */
.chapter1{
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.chapter1 .inner{
  height: 100vh;
  padding-top: 60px;
  color: #0959A9;
}

.profile{
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.profile .title{
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #0959A9;
}
.protile-item{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 15px;
  margin: 10px auto;
}
.profile-img{
  width: 100px;
  height: 100%;
  border-radius: 10%;
  box-shadow: 2px 2px 1px #DFDFDF;;
}
.profile-info{
  color: #333;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
}
.profile-name{
  margin-bottom: 7px;
}
.profile-birth{
  margin-bottom: 7px;
}

/* 기술 소개 영역 */
.skill{
  max-width: 1280px;
  margin: 30px auto 50px;
  padding: 0 40px;
}
.skill .title{
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #0959A9;
}
.skills-item{
  width: 100%;
  color: #333;
  padding: 0 15px;
  margin: 10px auto 20px;
}
.skills-tiems {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  white-space: normal;
  flex-wrap: wrap;
}
.skills-tiems li{
  font-size: 18px;
  color: #333;
  border-radius: 6px;
  border: 1px solid #5f84a9;
  padding: 6px 10px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-tiems li:last-child{
  margin-right: 0;
}
.skill-icon{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.skill-icon.oracle{
  height: 13px;
}
