/* 메인페이지 스타일 */
.main{
  position: relative;
}

/* 배너 이미지 */
.mainbanner{
  width: 100%;
  height: 100vh;
  background-image: url("../assets/banner1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* 슬로건 영역 */
.slogan {
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.slogan .inner{
  height: 100%;
}
.slogan .inner .contant{
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 40px 0;
}
.slogan .inner .contant > p{
  font-size: 62px;
  font-weight: 500;
  color: #0959A9;
  font-family: 'Noto Serif KR', serif;
  margin-bottom: 42px;
}
.downpoint{
  position: absolute;
  bottom: 30px;
  right: 50%;
}
.icon.down{
  font-size: 30px;
  color: #0959A9;
}

/* 챕터1 영역 */
.chapter1{
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.chapter1 .inner{
  height: 100vh;
  padding-top: 60px;
  color: #0959A9;
}

.about{
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.title{
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #0959A9;
  padding-bottom: 4px;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 15px;
  margin: 10px auto;
}
.profile-img{
  width: 100px;
  height: 100%;
  border-radius: 10%;
  box-shadow: 2px 2px 1px #DFDFDF;;
}
.profile-info{
  color: #333;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
}
.profile-name{
  margin-bottom: 7px;
}
.profile-birth{
  font-size: 18px;
  margin-left: 7px;
}

/* 기술 소개 영역 */
.skill{
  max-width: 1280px;
  margin: 30px auto;
  padding: 0 40px;
}
.skills-item{
  width: 100%;
  color: #333;
  padding: 0 15px;
  margin: 20px auto;
}
.skills-tiems {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  white-space: normal;
  flex-wrap: wrap;
}
.skills-tiems li{
  font-size: 18px;
  color: #333;
  border-radius: 6px;
  border: 1px solid #5f84a9;
  padding: 6px 10px;
  margin-right: 12px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-tiems li:last-child{
  margin-right: 0;
}
.skill-icon{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.skill-icon.oracle{
  height: 13px;
}

/* 커리어 영역 */
.cureer{
  max-width: 1280px;
  margin: 30px auto;
  padding: 0 40px;
}
.cureer-item{
  width: 100%;
  color: #333;
  padding: 0 15px;
  margin: 20px auto;
}
.cureer-row{
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0;
  margin: 0 auto 60px;
}
.cureer-col-3{
  width: 30%;
  padding: 0 15px;
  font-size: 13px;
}
.cureer-col-3 strong{
  font-size: 20px;
  margin-right: 5px;
  display: block;
  margin-bottom: 5px;
}
.cureer-col-3 strong.sub{
  font-size: 15px;
  margin: 0;
}
.cureer-col-3 .sub .company{
  margin-right: 5px;
}
.cureer-col-3 .sub .department{
  font-size: 12px;
}
.cureer-col-7{
  width: 70%;
  padding: 0 15px;
}
.cureer-col-7 .line{
  border-top: 1px solid #000;
  margin: 10px auto;
}
.col-row{

}
.col-row-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 3px;
  margin-bottom: 10px;
}

.col-row-contant{
  font-size: 20px;
  line-height: 1.2 !important;
}

/* 챕터2 영역 */
.chapter2{
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.chapter2 .inner{
  height: 100vh;
  padding-top: 20px;
  color: #0959A9;
}


/* 챕터2 영역 */
.chapter3{
  height: 100vh;
  position: relative;
  background-color: #FFF;
}
.chapter3 .inner{
  height: 100vh;
  padding-top: 20px;
  color: #0959A9;
}

/* 푸터 영역 */
.footer{
  background-color: #FFF;
}
.footer .inner{

}